@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <h1>Nama Dosen</h1>
    </tr>
    <tr>
        <th>Nip</th>
        <th>Nama Dosen</th>
        <th></th>
    </tr>
    @for(int i = 0; i < Model.Rows.Count; i++)
            {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>
                    <a href="@Url.Action("Edit","Dosen", new { @id=@Model.Rows[i][0]})">Edit</a>
                    <a href="@Url.Action("Delete","Dosen", new { @id=@Model.Rows[i][0]})">Delete</a>
                </td>
            </tr>   
            }
</table>

<a href="@Url.Action("Create","Dosen")">Add Dosen</a>
<a href="javascript:void(0)" onclick="searchDosen()">Search Dosen</a>
<script>
            function searchDosen() {
                window.location.href = "@Url.Action("IndexSearch","Dosen")" + "?limit=5" ;
          }
</script>



